name: push image and push to aliyun

on:
  push:
    branches: 
      - publish

env:
  DOCKERHUB_USERNAME: newbe36524
  DOCKERHUB_NAMESPACE: newbe36524
  ALIYUN_USERNAME: pianzide1117
  ALIYUN_NAMESPACE: newbe36524
  TENCENTYUN_USERNAME: 472158246
  TENCENTYUN_NAMESPACE: mcr_newbe36524
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: 
          - mcr.microsoft.com/mssql/server:2017-CU2-ubuntu,server:2017-CU2-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU20-ubuntu-16.04,server:2017-CU20-ubuntu-16.04
          - mcr.microsoft.com/mssql/server:2017-CU21-ubuntu-16.04,server:2017-CU21-ubuntu-16.04
          - mcr.microsoft.com/mssql/server:2017-CU22-ubuntu-16.04,server:2017-CU22-ubuntu-16.04
          - mcr.microsoft.com/mssql/server:2017-CU3-ubuntu,server:2017-CU3-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU4-ubuntu,server:2017-CU4-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU5-ubuntu,server:2017-CU5-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU6-ubuntu,server:2017-CU6-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU7-ubuntu,server:2017-CU7-ubuntu
          - mcr.microsoft.com/mssql/server:2017-CU8-ubuntu,server:2017-CU8-ubuntu
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        cd src/GithubActionGeneration
        pip install pipenv
        pipenv install
    - name: pull and sync
      run: |
        cd src/GithubActionGeneration
        pip install pipenv
        pipenv install
        pipenv run inv pull-image --data "${{ matrix.image }}"
        echo "${{ secrets.ALIYUN_TOKEN }}" | docker login -u $ALIYUN_USERNAME --password-stdin registry.cn-hangzhou.aliyuncs.com
        pipenv run inv docker-sync-aliyun --data "${{ matrix.image }}"