name: push image and push to dockerhub

on:
  push:
    branches: 
      - publish

env:
  DOCKERHUB_USERNAME: newbe36524
  DOCKERHUB_NAMESPACE: newbe36524
  ALIYUN_USERNAME: pianzide1117
  ALIYUN_NAMESPACE: newbe36524
  TENCENTYUN_USERNAME: 472158246
  TENCENTYUN_NAMESPACE: mcr_newbe36524
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: 
          - mcr.microsoft.com/dotnet/sdk:5.0-focal,sdk:5.0-focal
          - mcr.microsoft.com/dotnet/sdk:5.0-focal-amd64,sdk:5.0-focal-amd64
          - mcr.microsoft.com/dotnet/sdk:5.0-focal-arm32v7,sdk:5.0-focal-arm32v7
          - mcr.microsoft.com/dotnet/sdk:5.0-focal-arm64v8,sdk:5.0-focal-arm64v8
          - mcr.microsoft.com/dotnet/sdk:5.0.201,sdk:5.0.201
          - mcr.microsoft.com/dotnet/sdk:5.0.201-alpine3.12,sdk:5.0.201-alpine3.12
          - mcr.microsoft.com/dotnet/sdk:5.0.201-alpine3.12-amd64,sdk:5.0.201-alpine3.12-amd64
          - mcr.microsoft.com/dotnet/sdk:5.0.201-alpine3.13,sdk:5.0.201-alpine3.13
          - mcr.microsoft.com/dotnet/sdk:5.0.201-alpine3.13-amd64,sdk:5.0.201-alpine3.13-amd64
          - mcr.microsoft.com/dotnet/sdk:5.0.201-buster-slim,sdk:5.0.201-buster-slim
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: pull and sync
      run: |
        cd src/GithubActionGeneration
        pip install pipenv
        pipenv install
        pipenv run inv pull-image --data "${{ matrix.image }}"
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u $DOCKERHUB_USERNAME --password-stdin
        pipenv run inv docker-sync-dockerhub --data "${{ matrix.image }}"